#board {
  margin-top: 10px;
}

.box {
  border: 5px solid blue;
  height: 150px;
  float: left;
  background-color: yellow;
  cursor: pointer;
}
.btn {
	background-color: blue;
	font-weight: bold;
}
.btn:hover {
	background-color: red;
}
.ex {
	background-color: red;
}
.oh {
	background-color: blue;
}